.App {
  text-align: center;
}

.title {
  font-size: calc(15px + 2vmin);
  color: #ffffff
}

.subtitle {
  padding-bottom: 75px
}

.image {
  margin-top: 15px;
}

.App-header {
  background-color: rgb(59, 51, 83);
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}